*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}


body{
    min-height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}


.profil-card{
     display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0,0,0,1);
    border-radius: 24px;
    padding: 25px;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 100;
    margin-bottom: 100;
    margin-left: auto;
    margin-right: auto;

    

}

.profil-card .text-data{
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: var(--font-family)


}

.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(49, 31, 65);
    z-index: 2;
}


